n8n-workflows/google-calendar-sync.json
{
  "name": "Jarvis — Google Calendar Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "returnAll": false,
        "limit": 20,
        "options": {
          "timeMin": "={{ $now.startOf('day').toISO() }}",
          "timeMax": "={{ $now.endOf('day').toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "google-calendar",
      "name": "Get Today Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [440, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform Google Calendar events for Supabase upsert\nconst events = $input.all();\nconst results = [];\n\nfor (const item of events) {\n  const event = item.json;\n  const isAllDay = !!event.start?.date;\n  \n  results.push({\n    json: {\n      event_id: event.id,\n      title: event.summary || '(No title)',\n      start_time: isAllDay ? event.start.date + 'T00:00:00+07:00' : event.start.dateTime,\n      end_time: isAllDay ? event.end.date + 'T23:59:59+07:00' : (event.end?.dateTime || null),\n      is_all_day: isAllDay,\n      last_synced: new Date().toISOString(),\n      source: 'google-1'\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _empty: true } }];"
      },
      "id": "transform-events",
      "name": "Transform Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-empty",
      "name": "Has Events?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM calendar_events WHERE start_time::date = CURRENT_DATE AND source = 'google-1';"
      },
      "id": "clear-today",
      "name": "Clear Today Events",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 300],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "tableId": "calendar_events",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "event_id", "fieldValue": "={{ $json.event_id }}" },
            { "fieldName": "title", "fieldValue": "={{ $json.title }}" },
            { "fieldName": "start_time", "fieldValue": "={{ $json.start_time }}" },
            { "fieldName": "end_time", "fieldValue": "={{ $json.end_time }}" },
            { "fieldName": "is_all_day", "fieldValue": "={{ $json.is_all_day }}" },
            { "fieldName": "last_synced", "fieldValue": "={{ $json.last_synced }}" },
            { "fieldName": "source", "fieldValue": "={{ $json.source }}" }
          ]
        }
      },
      "id": "upsert-events",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1320, 300],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [{ "node": "Get Today Events", "type": "main", "index": 0 }]
      ]
    },
    "Get Today Events": {
      "main": [
        [{ "node": "Transform Events", "type": "main", "index": 0 }]
      ]
    },
    "Transform Events": {
      "main": [
        [{ "node": "Has Events?", "type": "main", "index": 0 }]
      ]
    },
    "Has Events?": {
      "main": [
        [{ "node": "Clear Today Events", "type": "main", "index": 0 }]
      ]
    },
    "Clear Today Events": {
      "main": [
        [{ "node": "Upsert to Supabase", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "jarvis" }
  ]
}
