n8n-workflows/google-calendar-sync.json
{
  "name": "Jarvis — Google Calendar Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "returnAll": false,
        "limit": 20,
        "options": {
          "timeMin": "={{ $now.startOf('day').toISO() }}",
          "timeMax": "={{ $now.endOf('day').toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "google-calendar",
      "name": "Get Today Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [440, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VQo95Gsxh2ibgi34",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform Google Calendar events for Supabase upsert\nconst events = $input.all();\nconst results = [];\n\nfor (const item of events) {\n  const event = item.json;\n  const isAllDay = !!event.start?.date;\n  \n  results.push({\n    json: {\n      event_id: event.id,\n      title: event.summary || '(No title)',\n      start_time: isAllDay ? event.start.date + 'T00:00:00+07:00' : event.start.dateTime,\n      end_time: isAllDay ? event.end.date + 'T23:59:59+07:00' : (event.end?.dateTime || null),\n      is_all_day: isAllDay,\n      last_synced: new Date().toISOString(),\n      source: 'google-1'\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _empty: true } }];"
      },
      "id": "transform-events",
      "name": "Transform Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-empty",
      "name": "Has Events?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://voycxhchxtggncosfzuf.supabase.co/rest/v1/calendar_events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "eq.google-1"
            },
            {
              "name": "start_time",
              "value": "=gte.{{ $now.startOf('day').toISO() }}"
            },
            {
              "name": "start_time",
              "value": "=lt.{{ $now.plus({days:1}).startOf('day').toISO() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REPLACE_WITH_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_SUPABASE_ANON_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "clear-today",
      "name": "Clear Today Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://voycxhchxtggncosfzuf.supabase.co/rest/v1/calendar_events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "event_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REPLACE_WITH_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_SUPABASE_ANON_KEY"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, title: $json.title, start_time: $json.start_time, end_time: $json.end_time, is_all_day: $json.is_all_day, last_synced: $json.last_synced, source: $json.source }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 100
            }
          }
        }
      },
      "id": "upsert-events",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [{ "node": "Get Today Events", "type": "main", "index": 0 }]
      ]
    },
    "Get Today Events": {
      "main": [
        [{ "node": "Transform Events", "type": "main", "index": 0 }]
      ]
    },
    "Transform Events": {
      "main": [
        [{ "node": "Has Events?", "type": "main", "index": 0 }]
      ]
    },
    "Has Events?": {
      "main": [
        [{ "node": "Clear Today Events", "type": "main", "index": 0 }]
      ]
    },
    "Clear Today Events": {
      "main": [
        [{ "node": "Upsert to Supabase", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "jarvis" }
  ]
}
