n8n-workflows/morning-briefing.json
{
  "name": "Jarvis — Morning Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 07:30 WIB",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title, start_time, end_time, is_all_day FROM calendar_events WHERE start_time::date = CURRENT_DATE ORDER BY start_time ASC;"
      },
      "id": "fetch-calendar",
      "name": "Fetch Calendar",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 200],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name, due_date, priority, status, project_name, tags FROM notion_tasks WHERE due_date <= (CURRENT_DATE + INTERVAL '7 days') AND status NOT IN ('Done', 'Archived') ORDER BY due_date ASC LIMIT 15;"
      },
      "id": "fetch-tasks",
      "name": "Fetch Tasks",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 400],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge calendar and tasks data for the prompt\nconst calendarItems = $('Fetch Calendar').all();\nconst taskItems = $('Fetch Tasks').all();\n\nconst calendar = calendarItems.map(i => i.json);\nconst tasks = taskItems.map(i => i.json);\n\nconst today = new Date().toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  timeZone: 'Asia/Jakarta'\n});\n\nlet calendarText = 'No events today.';\nif (calendar.length > 0) {\n  calendarText = calendar.map(e => {\n    if (e.is_all_day) return `- [All day] ${e.title}`;\n    const start = new Date(e.start_time).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: false, timeZone: 'Asia/Jakarta' });\n    const end = e.end_time ? new Date(e.end_time).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: false, timeZone: 'Asia/Jakarta' }) : '';\n    return `- ${start}${end ? '-' + end : ''} ${e.title}`;\n  }).join('\\n');\n}\n\nlet tasksText = 'No tasks due this week.';\nif (tasks.length > 0) {\n  tasksText = tasks.map(t => `- [${t.priority || '?'}] ${t.name} (due: ${t.due_date || 'none'}, status: ${t.status}${t.project_name ? ', project: ' + t.project_name : ''})`).join('\\n');\n}\n\nconst prompt = `You are Jarvis, a personal executive assistant. Generate a concise morning briefing for ${today}.\n\nKeep it under 300 words. Use this exact numbered format:\n\n1. Calendar overview: [Summarize today's schedule, highlight conflicts or gaps]\n2. Task priorities: [Top 3-5 tasks to focus on today, by priority]\n3. Alerts: [Any deadlines within 48h, overdue items, or schedule conflicts. If none, say 'No alerts.']\n4. Suggested focus: [One sentence recommendation for the day]\n\n--- DATA ---\n\nCalendar (${calendar.length} events):\n${calendarText}\n\nTasks (${tasks.length} items):\n${tasksText}\n\nIMPORTANT: Be concise and actionable. No fluff. If data is empty, acknowledge it briefly and suggest the user sync their data sources.`;\n\nreturn [{\n  json: {\n    prompt,\n    today,\n    calendarCount: calendar.length,\n    taskCount: tasks.length\n  }\n}];"
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 600,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "claude-briefing",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n// Extract the text content from Claude's response\nconst briefingText = response.content?.[0]?.text || response.text || JSON.stringify(response);\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    date: today,\n    briefing_text: briefingText,\n    generated_at: new Date().toISOString(),\n    data_sources_used: {\n      calendar: true,\n      notion_tasks: true,\n      email: false\n    }\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO briefing_cache (date, briefing_text, generated_at, data_sources_used) VALUES ('{{ $json.date }}', '{{ $json.briefing_text.replace(/'/g, \"''\") }}', '{{ $json.generated_at }}', '{{ JSON.stringify($json.data_sources_used) }}'::jsonb) ON CONFLICT (date) DO UPDATE SET briefing_text = EXCLUDED.briefing_text, generated_at = EXCLUDED.generated_at, data_sources_used = EXCLUDED.data_sources_used;"
      },
      "id": "save-briefing",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1400, 300],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    }
  ],
  "connections": {
    "Daily 07:30 WIB": {
      "main": [
        [
          { "node": "Fetch Calendar", "type": "main", "index": 0 },
          { "node": "Fetch Tasks", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Calendar": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Tasks": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    },
    "Merge Data": {
      "main": [
        [{ "node": "Call Claude API", "type": "main", "index": 0 }]
      ]
    },
    "Call Claude API": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Save to Supabase", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "jarvis" }
  ]
}
