n8n-workflows/notion-tasks-sync.json
{
  "name": "Jarvis \u2014 Notion Tasks Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "014c674aecec833894f30134b85d8c94",
        "returnAll": true,
        "options": {}
      },
      "id": "fetch-notion-tasks",
      "name": "Fetch Notion Tasks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        304
      ],
      "credentials": {
        "notionApi": {
          "id": "O2VFJDk6M2KG0aYM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst tasks = items\n  .filter(item => {\n    const status = item.json.property_status || \"Not Started\";\n    return status !== \"Done\" && status !== \"Archived\";\n  })\n  .map(item => {\n    const d = item.json;\n    const dueStart = d.property_due ? d.property_due.start : null;\n    const tags = d.property_tags || [];\n    return {\n      json: {\n        notion_page_id: d.id,\n        name: d.property_task_name || d.name || \"Untitled\",\n        due_date: dueStart,\n        priority: d.property_priority || null,\n        status: d.property_status || \"Not Started\",\n        project_relation_id: null,\n        tags: tags,\n        last_synced: new Date().toISOString()\n      }\n    };\n  });\n\nif (tasks.length === 0) return [{ json: { _empty: true } }];\nreturn tasks;"
      },
      "id": "transform-tasks",
      "name": "Transform Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Stale task cleanup - runs via scheduled Supabase function\n// Non-critical: old tasks are overwritten by upsert anyway\nreturn [{ json: { cleanup: 'skipped - handled by upsert' } }];"
      },
      "id": "cleanup-removed",
      "name": "Remove Stale Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://voycxhchxtggncosfzuf.supabase.co/rest/v1/notion_tasks",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "notion_page_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_HTWK1QqeB9DSbOncAKNk4w_GZON3KhS"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_HTWK1QqeB9DSbOncAKNk4w_GZON3KhS"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ notion_page_id: $json.notion_page_id, name: $json.name, due_date: $json.due_date, priority: $json.priority, status: $json.status, tags: $json.tags, last_synced: $json.last_synced }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 100
            }
          }
        }
      },
      "id": "upsert-tasks",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        400
      ]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Notion Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Notion Tasks": {
      "main": [
        [
          {
            "node": "Transform Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Tasks": {
      "main": [
        [
          {
            "node": "Remove Stale Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
